html{
    background-color: #eee;
}
a {
    text-shadow: none;
    background-image: none;
}
header{
    background: linear-gradient(rgba(14, 25, 23, 0.6), rgba(14, 25, 23, 0.6)), url('../images/Leaves.jpg');
    height: 300px;
    
}
header a {
    color:#3B413C;
    font-weight:bold;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
    cursor: pointer;

}
header h2, header h3{
    color: #fff;
}

header h2{
    font-size:50px;
    padding-bottom:10px;
    
}

header h3{
    font-size:35px;
}
nav li a{
    color:#a3c2a1;
}
nav ul li {
    margin-bottom: 0px;
}
nav {
    background-color:#0e1917;
    width:100%;
    padding:8px;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    margin-bottom: 2rem;
    text-align:center;
    z-index: 99;
}
main section div.flx{
   display: flex;
   justify-content: space-between; 
   gap: 20px;
   flex-wrap: wrap;
}
main h2{
    margin-bottom:2rem;
    color:#0e1917;
}
.flx div.txt{
    flex-basis: 60%;
    flex-grow:2;
}

main section h2{
    text-align:center;
}
form{
    max-width:700px;
    margin:auto;
    background-color: #a3c2a1;
    border-radius: 10px;
    padding:20px;
    border: 2px solid #0e1917;
    overflow: hidden;
}
form input, form textarea{
    width:100%;
    border-radius: 5px;
    border:none;
    margin-bottom:5px;
    
}
form input:focus-visible, form textarea:focus-visible, form input:hover, form textarea:hover{
    box-shadow:0 4px 6px -1px rgba(14,25,23,0.25),0 2px 4px -1px rgba(14,25,23,0.06);
    outline:none;
}
form label{
    color:white;
}
form button{
    float:right;
    background-color: #3a5b3d;
    color:white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}
form button:hover{
    background-color: #0e1917;

}
.center{
    text-align:center;
}
.portfolio-project{
    flex-basis:50%;
}
section:last-child{
    border-bottom: none;
}